.changeable-header{
  margin-top : 20px;
  display : flex;
  position : fixed;
  z-index: 2;
  top : 0;
  width : 100%;
  flex-direction: row;
  align-items: center;
  padding : 15px 20px 15px 20px;
  background-color: #FFF1F2;
}
.changeable-header__content{
  width : 33%;
}
.changeable-header__content:nth-child(2){
  font-size : 18px;
  font-weight: 500;
  text-align: center;
}
.changeable-header__content:nth-child(3){
  text-align: right;
  color : rgba(0,0,0,0.5);
}
.changeable-header__content:nth-child(3) a:nth-child(2){
  margin-left : 10px;
}