.nav{
  position : fixed;
  bottom : 0;
}
.nav__ul{
  padding:20px 0px;
  display: flex;
  justify-content: space-between;
}
.nav__btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  width : 25vw;
  position : relative;
}
.nav__link{
  color : rgba(0, 0, 0, 0.6);
}
.nav__notification{
  display : flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  border-radius: 10px;
  width : 19px;
  height : 19px;
  color : white;
  font-weight: 400;
  position : absolute;
  right : 32px;
  bottom : 9px;
}
.nav__new{
  display : inline-block;
  background-color: tomato;
  border-radius: 10px;
  width : 5px;
  height : 5px;
  position :absolute; 
  right :35px;
  top : -6px;
}