.notification__nav__number{
  display : flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  border-radius: 10px;
  width : 17px;
  height : 17px;
  color : white;
  font-weight: 700;
  position : absolute;
  font-size : 13px;
  right : -10px;
  top : -10px;
}
.notification__nav__circle{
  display : inline-block;
  background-color: tomato;
  border-radius: 10px;
  width : 5px;
  height : 5px;
  position :absolute;
  right : -4px;
  top : -5px;
}
.notification__setting__new{
  display : flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  border-radius: 50%;
  width : 17px;
  height : 17px;
  color : white;
  font-weight: 700;
  position : absolute;
  top : -1px;
  right : -25px;
  font-size : 10px;
}
.relative{
  position : relative;
}

.notification__header__circle{
  display : inline-block;
  background-color: tomato;
  border-radius: 10px;
  width : 5px;
  height : 5px;
  position :absolute;
  right : -5px;
  top : -3px;
}