@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');
@import "reset.css";

@import "component/status-bar.css";
@import 'component/screen-header.css';
@import 'component/main-header.css';
@import 'component/nav.css';
@import 'component/user-component.css';
@import 'component/notification.css';
@import 'component/changeable-header.css';

@import 'screen/find-header.css';
@import 'screen/find-recommended-friends.css';
@import 'screen/find-open-chat.css';
@import 'screen/friends.css';
@import 'screen/login-form.css';
@import 'screen/more-iconlist.css';
@import 'screen/more-suggestion.css';
@import 'screen/setting-list.css';
@import 'screen/chat-screen.css';
 
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(255, 242, 242);
  height : 500vh;
}
.writing-chat-contatiner{
  position : fixed;
  bottom : 0;
  display : flex;
  flex-direction: row;
  align-items: center;
  width : 100%;
  background-color: white;
  height : 44px;
  transition: all 0.3s ease-in-out;
}
.writing-chat{
  width : calc(100% - 50px);
  padding : 0px 10px 0px 0px;
}
.writing-chat__plus{
  width : 30px;
  height : 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border : 2px solid rgba(0,0,0,0.3);
  padding : 4px;
  border-radius: 7px;;
  margin : 0px 10px; 
  font-size : 16px;
  color : rgba(0,0,0,0.3);
}
.writing-chat input{
  width :100%;
  border-radius: 20px;
  height : 35px;
  border : 1px solid rgba(0,0,0,0.2);
  outline: none;
}

.writing-chat__plus,
.writing-chat__btn{
  will-change : opacity;
  transition : opacity .3s ease-in-out;
}
.writing-chat-contatiner:focus-within .writing-chat__plus,
.writing-chat-contatiner:focus-within .writing-chat__btn{
  opacity: 0;
}
.writing-chat-contatiner:focus-within{
  transform : translateY(44px);
}
.writing-chat input{
  will-change : transform;
  transition: all .3s ease-in-out;
}
.writing-chat-contatiner:focus-within .writing-chat input{
  width : 98.5vw;
  transform :translateX(-50px) translateY(-44px);
}

.writing-chat__btn{
  position : absolute;
}
.writing-chat__btn:nth-child(2){
  display :flex;
  justify-content: center;
  align-items: center;
  top : 12px;
  font-size: 22px;
  right : 50px;
  color : rgba(0,0,0,0.3);
}
.writing-chat__btn:last-child{
  width : 33px;
  height : 33px;
  background-color: #F5E413;
  border-radius: 50%;
  display :flex;
  justify-content: center;
  align-items: center;
  top : 6px;
  right : 7px;
}
#no-mobile{
  position : absolute;
  top : 0;
  font-size : 32px;
  z-index : 99;
  height : 100vh;
  width : 100vw;
  background-color: #FDE403;
  display : flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width :600px){
  #no-mobile{
    display : none;
  }
}