.find__notification{
  display : inline-block;
  background-color: tomato;
  border-radius: 10px;
  width : 5px;
  height : 5px;
  position :absolute; 
  top : 44px;

}
.find-header{
  margin : 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.find-header > div{
  width : 25vw;
  display : flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color : rgba(0,0,0,0.7);
}
.find-header__icon{
  margin-bottom:18px;
}
.find-header__text{
  height : 24px;
  display : flex;
  align-items: center;
  font-size : 12px;
}